<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetSuite">

	<listeners>
		<listener class-name="api.utilities.ExtentReportManager"/>
	</listeners>

  <test thread-count="5" name="UsersTest">
    <classes>
      <!--<class name="api.test.DataDrivenTests"/>  -->
      <class name="api.test.UserTests"/>
       <class name="api.test.UserTests_Properties"/>
    </classes>
  </test> <!-- UsersTest -->
</suite> <!-- PetSuite -->
